.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  font-size: calc(10px + 2vmin);
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerAlignment{
font-size: larger;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-details{
 font-size: medium;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: right;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}