.FooterBottom {
  background-color: #eceae4;
  padding: 20px 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  /* color: #999999; */
  /* color: black; */
}

.FooterContent {
  background-color: #f8f7f3;
  padding: 50px 0;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.07);
  display: block;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
}
.FooterStatic {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.copyrights {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  display: block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  float: left;
}
.WidgetTitle { 
font-family: "Roboto Condensed",sans-serif;
margin: 0px 0px 25px 0;
font-size: 18px;
line-height: 1.5em;
}

.widget {
  word-wrap: break-word;
  line-height: 1.42857143;
  font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    font-size: 14px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.textWidget{
  line-height: 1.42857143;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
  font-size: 14px;
  display: block;
  word-break: break-all;
}