.top_Navigation{
    float: right;
    font-family: "Roboto Condensed",sans-serif;
    padding: 30px 0px 0px;
    /* color: #5e5e5e; */
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.42857143;   
 
}

.bar{
    border-style: groove;
    background-color: white;
    border-top: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

  li {
      float: left;
    padding: 0px 40px;
    background-color: white;
    color: #5e5e5e;
  }
  